<p>Acerca de la Universidad</p>
<p>La Universidad Politécnica de Tecámac tiene el firme compromiso de contribuir al crecimiento nacional de nuestro país mediante la formación de profesionistas con calidad, a través de competencias profesionales; permitiendo con ello resolver la problemática de las empresas y fomentar el bienestar social.

    Ante este hecho, nos ponemos a sus órdenes expresándole que somos una Universidad Pública, descentralizada del Gobierno del Estado de México. Nos encontramos en el municipio de Tecámac como una alternativa para los jóvenes egresados del nivel medio superior y como un apoyo al sector industrial, de comercio y de servicios del Valle de Tecámac.  Nuestra Oferta educativa nace a partir de la pertinencia manifiesta por las necesidades del sector empresarial, por ello sirva este medio como una presentación de nuestro proyecto que apuntala hacia un beneficio en la consolidación de la relación, Empresa – Universidad.</p>
    <div>
        <img src="../../assets/acerca de la universidad.jpg" alt="">
    </div>