<p>Carreras</p>
<p>Licenciatura en Negocios Internacionales</p>
<div>
    <img src="../../assets/negocios.png" alt="">
</div>
<p>Ingenieria en Mecanica automotriz</p>
<div>
    <img src="../../assets/automotriz.png" alt="">
</div>
<p>Ingenieria en Software</p>
<div>
    <img src="../../assets/Software.png" alt="">
</div> 
<p>Ingeniería en Tecnologías de Manufactura </p>
<div>
    <img src="../../assets/manufactura.png" alt="">
</div>
<p>Ingeniería Financiera </p>
<div>
    <img src="../../assets/Financiera.png" alt="">
</div>